@media all and (max-width: 768px){
    .grid-container {
        flex: 1;
        flex-direction: column;
        justify-Content: center;
        align-Items: center;
        margin-bottom: -75px;
    }
    .centerTextAlex {
        text-align: center;
        margin: 25px;
        font-size: 12px;
        color: white;
    }
    .imgejrh {
        align-Self: center;
        width: 100% !important;
    }
    .item3{
        width: 100%;
        height: auto;
    }
    .grid-container3 {
        display: flex !important;
        justify-content: center !important;
        grid-template-columns: auto auto auto !important;
        align-items: center !important;
    }
    .newSkizz {
        flex: 1;
        flex-direction: column;
        justify-Content: center;
        align-Items: center;
    }
    .btn1 {
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        align-content:center;
        align-items:center;
        padding: 30px;
    }
    .newText {
        margin-left: 0 !important;
        font-size: 13px;
        text-align: center;
    }
    .btn3{
        width: 100% !important;
    }
    .btn2 {
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 80% !important;
        height: auto !important;
        align-content: center;
        align-items: center;
    }
    .btn3R {
        background-color: #ff9329;
        border-radius: 4px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 40px;
        margin-left: -60px !important;
    }
    .btnTextMainR{
        margin-left: -40px !important;
    }
    .btn2 {
        margin-top: 20px;
        margin-left: 80px !important;
        margin-bottom: 20px;
    }
    .blkfooter2 {
        background-color: black;
        width: 100%;
        height: 650px !important;
    }
    .blkfooter {
        background-color: black;
        width: 122.7% !important;
        height: 180px;
        margin-left: -60px;
    }
    .btnDiv4 {
        margin-left: 25% !important;
        margin-top: -50% !important;
    }
    .blkfooterXR {
        background-color: black;
        width: 100%;
        height: 850px !important;
    }
    .itemTextR {
        font-size: 18px;
        text-align: left;
        padding: 12px !important;
        color: white;
    }
    .btnDiv4RR {
        margin-left: 20% !important;
        margin-top: -45% !important;
    }
    .bewertungen {
        width: 100% !important;
        height: 100% !important;
        /* Center horizontally*/
    }
    .bewertung {
        border: solid;
        border-width: 2px;
    }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.formularBody {
    padding-left: 10%;
    padding-right: 10%;
}

.formDiv2{
    
}

.margin2 {
    margin-top: -6.5%;
}

.margin{
    margin-top:3%;
}

.footerText{
    margin-top:2%;
    margin-left:36%;
    color:white;
}

.blkfooter {
    background-color: black;
    width: 100%;
    height: 180px;
}

.blkfooterX {
    background-color: black;
    width: 100%;
    height: 700px;
}

.blkfooter2 {
    background-color: black;
    width: 100%;
    height: 550px;
}

.bigFont {
    text-align: left;
    font-size: 24px;
    padding:2%;
}

.lowFont {
    font-size: 16px;
}

.bewertungen {
    padding:5%;
    width: 80% !important;
    height: 100% !important;
    /* Center horizontally*/
}

.bewertung{
    border:solid;
    border-width: 2px;
}

.bkElement {
    padding: 1.2% !important;
    width: 25% !important;
    height: 50px !important;
    /* Center horizontally*/
    margin: 0 auto !important;
}

.bkElement2 {
    padding: 1.2% !important;
    width: 25% !important;
    height: 50px !important;
    margin-left:30%;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sticky-thc {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100% !important;
    background-color: black;
    padding-left: 25% !important;
    padding-right: 25% !important;
    padding-bottom: 2px !important;
    padding-top: 20px !important;
}

.centerText3 {
    text-align: center;
    margin: 25px;
    font-size: 24px;
    padding-bottom: 5px;
}

.centerText2 {
    text-align: center;
    margin: 25px;
    font-size: 18px;
}

.centerText {
    text-align: center;
    margin: 25px;
    font-size: 24px;
}

.headertext{
    color:black;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -200px;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -115px;
    align-items: center;
}

.blkfooter {
    display: grid;
    grid-template-columns: auto;
}

.grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    padding: 120px;
    margin-top: -170px;
    align-items: center;
}

.deco {
    text-decoration: none;
}

.grid-container5 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 1400px;
    padding: 120px;
    margin-top: -115px;
    align-items: center;
    margin-left:-8%;
}

.centerTexter {
    text-align: center;
    color: white;
}

.onlyLeft{
    margin-left: 12%;
}
.onlyLeft2 {
    margin-left: 33%;
    margin-top: -5%
}


.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.newText2 {
    margin-left: 4%;
    font-size: 13px;
}

.newText {
    margin-left: 8%;
    font-size: 13px;
}

.item1 {
    grid-row: 1/6;
    align-self: start;
}
.btn3 {
    background-color: #ff9329;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btnDiv4 {
    margin-left: 35%;
    margin-top:-5%;
}

.btn1 {
    grid-row: 1/6;
    margin-top: -50%;
    margin-left: 25%;
}

.btn2 {
    margin-left: 25%;
}

.item2 {
    margin-left: 10px;
}

.itemNew {
    margin-left: 10px;
}

.itemTextBlack {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: black;
}

.itemText {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: white;
}

.itemTextOld {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
}

.img1 {
    height: 500px;
    width: 500px;
}

.btnTextMain {
    color: white;
}
.btnTextSub {
    color: white;
    font-size: 16px;
}
.text-light {
    padding: 10px !important;
}
.firstDiv {
    width: 100%;
    text-align: center;
    padding-top: 250px !important;
}
.child {
    margin-top: 200px !important;
    text-align: center;
    font-size: 42px;
}
.btn {
    padding: 20px !important;
}

.black {
    background-color: black;
}