a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.formularBody {
    padding-left: 10%;
    padding-right: 10%;
}

.margin2 {
    margin-top: -6.5%;
}

.margin{
    margin-top:3%;
}

.blkfooter {
    background-color: black;
    width: 143.5% !important;
    height: 120px;
    margin-left: -22%;
}

.blkfooter2 {
    background-color: black;
    width: 143.5% !important;
    height: 520px;
    margin-left: -22%;
}

.bigFont {
    text-align: left;
    font-size: 24px;
    padding:2%;
}

.lowFont {
    font-size: 16px;
}

.bewertungen {
    padding:5%;
    width: 80% !important;
    height: 100% !important;
    /* Center horizontally*/
    margin: 0 auto !important;
}

.bewertung{
    border:solid;
    border-width: 2px;
}

.bkElement {
    padding: 1.2% !important;
    width: 25% !important;
    height: 50px !important;
    /* Center horizontally*/
    margin: 0 auto !important;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sticky-thc {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100% !important;
    background-color: black;
    padding-left: 25% !important;
    padding-right: 25% !important;
    padding-bottom: 2px !important;
    padding-top: 20px !important;
}

.centerText3 {
    text-align: center;
    margin: 25px;
    font-size: 24px;
    padding-bottom: 5px;
}

.centerText2 {
    text-align: center;
    margin: 25px;
    font-size: 18px;
}

.centerText {
    text-align: center;
    margin: 25px;
    font-size: 24px;
}

.headertext{
    color:black;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -200px;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -115px;
    align-items: center;
}

.centerTexter {
    text-align: center;
    color: white;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.item1 {
    grid-row: 1/6;
}

.item2 {
    margin-left: 10px;
}

.itemNew {
    margin-left: 10px;
}

.itemTextBlack {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: black;
}

.itemText {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: white;
}

.itemTextOld {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
}

.img1 {
    height: 500px;
    width: 500px;
}

.btnTextMain {
    color: white;
}
.btnTextSub {
    color: white;
    font-size: 16px;
}
.text-light {
    padding: 10px !important;
}
.firstDiv {
    width: 100%;
    text-align: center;
    padding-top: 250px !important;
}
.child {
    margin-top: 200px !important;
    text-align: center;
    font-size: 42px;
}
.btn {
    padding: 20px !important;
}

.black {
    background-color: black;
}