a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.sticky-thc {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100% !important;
    background-color: black;
    padding-left: 25% !important;
    padding-right: 25% !important;
    padding-bottom: 2px !important;
    padding-top: 20px !important;
}

.centerText3 {
    text-align: center;
    margin: 25px;
    font-size: 24px;
    padding-bottom: 5px;
}

.centerText2 {
    text-align: center;
    margin: 25px;
    font-size: 18px;
}

.centerText {
    text-align: center;
    margin: 25px;
    font-size: 24px;
}

.headertext{
    color:black;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -200px;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 120px;
    margin-top: -115px;
    align-items: center;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.item1 {
    grid-row: 1/6;
}

.item2 {
    margin-left: 10px;
}

.itemText {
    font-size: 18px;
    text-align: left;
    margin-left:10px;
}

.img1 {
    height: 500px;
    width: 500px;
}

.btnTextMain {
    color: white;
}
.btnTextSub {
    color: white;
    font-size: 16px;
}
.text-light {
    padding: 10px !important;
}
.firstDiv {
    width: 100%;
    text-align: center;
    padding-top: 250px !important;
}
.child {
    margin-top: 200px !important;
    text-align: center;
    font-size: 42px;
}
.btn {
    padding: 20px !important;
}

.black {
    background-color: black;
}